body {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.row {
  flex-direction: row;
}
.row.reverse {
  flex-direction: row-reverse;
}
.column {
  flex-direction: column;
}
.column.reverse {
  flex-direction: column-reverse;
}
.row,
.column {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
[class^="col-"] {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0px;
  padding-left: 0px;
}
[class^="row-"] {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0px;
  padding-left: 0px;
}
.hide {
  display: none;
}
.show {
  display: inline;
}
@media screen and (max-width: 600px) {
  .hide-s {
    display: none !important;
  }
  .show-s {
    display: inline !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: inline !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .hide-l {
    display: none !important;
  }
  .show-l {
    display: inline !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: inline !important;
  }
}
@media screen and (min-width: 1801px) {
  .hide-xxl {
    display: none !important;
  }
  .show-xxl {
    display: inline !important;
  }
}
.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
.col-offset-12 {
  margin-left: 100%;
}
@media screen and (max-width: 600px) {
  .col-s-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .col-offset-s-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .col-offset-m-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .col-offset-l-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .col-offset-xl-12 {
    margin-left: 100% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .col-offset-xxl-12 {
    margin-left: 100% !important;
  }
}
.col-11 {
  flex-basis: 91.66666666666666%;
  max-width: 91.66666666666666%;
}
.col-offset-11 {
  margin-left: 91.66666666666666%;
}
@media screen and (max-width: 600px) {
  .col-s-11 {
    flex-basis: 91.66666666666666% !important;
    max-width: 91.66666666666666% !important;
  }
  .col-offset-s-11 {
    margin-left: 91.66666666666666% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-11 {
    flex-basis: 91.66666666666666% !important;
    max-width: 91.66666666666666% !important;
  }
  .col-offset-m-11 {
    margin-left: 91.66666666666666% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-11 {
    flex-basis: 91.66666666666666% !important;
    max-width: 91.66666666666666% !important;
  }
  .col-offset-l-11 {
    margin-left: 91.66666666666666% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-11 {
    flex-basis: 91.66666666666666% !important;
    max-width: 91.66666666666666% !important;
  }
  .col-offset-xl-11 {
    margin-left: 91.66666666666666% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-11 {
    flex-basis: 91.66666666666666% !important;
    max-width: 91.66666666666666% !important;
  }
  .col-offset-xxl-11 {
    margin-left: 91.66666666666666% !important;
  }
}
.col-10 {
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333333334%;
}
.col-offset-10 {
  margin-left: 83.33333333333334%;
}
@media screen and (max-width: 600px) {
  .col-s-10 {
    flex-basis: 83.33333333333334% !important;
    max-width: 83.33333333333334% !important;
  }
  .col-offset-s-10 {
    margin-left: 83.33333333333334% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-10 {
    flex-basis: 83.33333333333334% !important;
    max-width: 83.33333333333334% !important;
  }
  .col-offset-m-10 {
    margin-left: 83.33333333333334% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-10 {
    flex-basis: 83.33333333333334% !important;
    max-width: 83.33333333333334% !important;
  }
  .col-offset-l-10 {
    margin-left: 83.33333333333334% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-10 {
    flex-basis: 83.33333333333334% !important;
    max-width: 83.33333333333334% !important;
  }
  .col-offset-xl-10 {
    margin-left: 83.33333333333334% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-10 {
    flex-basis: 83.33333333333334% !important;
    max-width: 83.33333333333334% !important;
  }
  .col-offset-xxl-10 {
    margin-left: 83.33333333333334% !important;
  }
}
.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
.col-offset-9 {
  margin-left: 75%;
}
@media screen and (max-width: 600px) {
  .col-s-9 {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
  .col-offset-s-9 {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-9 {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
  .col-offset-m-9 {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-9 {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
  .col-offset-l-9 {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-9 {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
  .col-offset-xl-9 {
    margin-left: 75% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-9 {
    flex-basis: 75% !important;
    max-width: 75% !important;
  }
  .col-offset-xxl-9 {
    margin-left: 75% !important;
  }
}
.col-8 {
  flex-basis: 66.66666666666666%;
  max-width: 66.66666666666666%;
}
.col-offset-8 {
  margin-left: 66.66666666666666%;
}
@media screen and (max-width: 600px) {
  .col-s-8 {
    flex-basis: 66.66666666666666% !important;
    max-width: 66.66666666666666% !important;
  }
  .col-offset-s-8 {
    margin-left: 66.66666666666666% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-8 {
    flex-basis: 66.66666666666666% !important;
    max-width: 66.66666666666666% !important;
  }
  .col-offset-m-8 {
    margin-left: 66.66666666666666% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-8 {
    flex-basis: 66.66666666666666% !important;
    max-width: 66.66666666666666% !important;
  }
  .col-offset-l-8 {
    margin-left: 66.66666666666666% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-8 {
    flex-basis: 66.66666666666666% !important;
    max-width: 66.66666666666666% !important;
  }
  .col-offset-xl-8 {
    margin-left: 66.66666666666666% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-8 {
    flex-basis: 66.66666666666666% !important;
    max-width: 66.66666666666666% !important;
  }
  .col-offset-xxl-8 {
    margin-left: 66.66666666666666% !important;
  }
}
.col-7 {
  flex-basis: 58.333333333333336%;
  max-width: 58.333333333333336%;
}
.col-offset-7 {
  margin-left: 58.333333333333336%;
}
@media screen and (max-width: 600px) {
  .col-s-7 {
    flex-basis: 58.333333333333336% !important;
    max-width: 58.333333333333336% !important;
  }
  .col-offset-s-7 {
    margin-left: 58.333333333333336% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-7 {
    flex-basis: 58.333333333333336% !important;
    max-width: 58.333333333333336% !important;
  }
  .col-offset-m-7 {
    margin-left: 58.333333333333336% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-7 {
    flex-basis: 58.333333333333336% !important;
    max-width: 58.333333333333336% !important;
  }
  .col-offset-l-7 {
    margin-left: 58.333333333333336% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-7 {
    flex-basis: 58.333333333333336% !important;
    max-width: 58.333333333333336% !important;
  }
  .col-offset-xl-7 {
    margin-left: 58.333333333333336% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-7 {
    flex-basis: 58.333333333333336% !important;
    max-width: 58.333333333333336% !important;
  }
  .col-offset-xxl-7 {
    margin-left: 58.333333333333336% !important;
  }
}
.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
.col-offset-6 {
  margin-left: 50%;
}
@media screen and (max-width: 600px) {
  .col-s-6 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .col-offset-s-6 {
    margin-left: 50% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-6 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .col-offset-m-6 {
    margin-left: 50% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-6 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .col-offset-l-6 {
    margin-left: 50% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-6 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .col-offset-xl-6 {
    margin-left: 50% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-6 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
  .col-offset-xxl-6 {
    margin-left: 50% !important;
  }
}
.col-5 {
  flex-basis: 41.66666666666667%;
  max-width: 41.66666666666667%;
}
.col-offset-5 {
  margin-left: 41.66666666666667%;
}
@media screen and (max-width: 600px) {
  .col-s-5 {
    flex-basis: 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }
  .col-offset-s-5 {
    margin-left: 41.66666666666667% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-5 {
    flex-basis: 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }
  .col-offset-m-5 {
    margin-left: 41.66666666666667% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-5 {
    flex-basis: 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }
  .col-offset-l-5 {
    margin-left: 41.66666666666667% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-5 {
    flex-basis: 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }
  .col-offset-xl-5 {
    margin-left: 41.66666666666667% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-5 {
    flex-basis: 41.66666666666667% !important;
    max-width: 41.66666666666667% !important;
  }
  .col-offset-xxl-5 {
    margin-left: 41.66666666666667% !important;
  }
}
.col-4 {
  flex-basis: 33.33333333333333%;
  max-width: 33.33333333333333%;
}
.col-offset-4 {
  margin-left: 33.33333333333333%;
}
@media screen and (max-width: 600px) {
  .col-s-4 {
    flex-basis: 33.33333333333333% !important;
    max-width: 33.33333333333333% !important;
  }
  .col-offset-s-4 {
    margin-left: 33.33333333333333% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-4 {
    flex-basis: 33.33333333333333% !important;
    max-width: 33.33333333333333% !important;
  }
  .col-offset-m-4 {
    margin-left: 33.33333333333333% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-4 {
    flex-basis: 33.33333333333333% !important;
    max-width: 33.33333333333333% !important;
  }
  .col-offset-l-4 {
    margin-left: 33.33333333333333% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-4 {
    flex-basis: 33.33333333333333% !important;
    max-width: 33.33333333333333% !important;
  }
  .col-offset-xl-4 {
    margin-left: 33.33333333333333% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-4 {
    flex-basis: 33.33333333333333% !important;
    max-width: 33.33333333333333% !important;
  }
  .col-offset-xxl-4 {
    margin-left: 33.33333333333333% !important;
  }
}
.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
.col-offset-3 {
  margin-left: 25%;
}
@media screen and (max-width: 600px) {
  .col-s-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
  .col-offset-s-3 {
    margin-left: 25% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
  .col-offset-m-3 {
    margin-left: 25% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
  .col-offset-l-3 {
    margin-left: 25% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
  .col-offset-xl-3 {
    margin-left: 25% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }
  .col-offset-xxl-3 {
    margin-left: 25% !important;
  }
}
.col-2 {
  flex-basis: 16.666666666666664%;
  max-width: 16.666666666666664%;
}
.col-offset-2 {
  margin-left: 16.666666666666664%;
}
@media screen and (max-width: 600px) {
  .col-s-2 {
    flex-basis: 16.666666666666664% !important;
    max-width: 16.666666666666664% !important;
  }
  .col-offset-s-2 {
    margin-left: 16.666666666666664% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-2 {
    flex-basis: 16.666666666666664% !important;
    max-width: 16.666666666666664% !important;
  }
  .col-offset-m-2 {
    margin-left: 16.666666666666664% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-2 {
    flex-basis: 16.666666666666664% !important;
    max-width: 16.666666666666664% !important;
  }
  .col-offset-l-2 {
    margin-left: 16.666666666666664% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-2 {
    flex-basis: 16.666666666666664% !important;
    max-width: 16.666666666666664% !important;
  }
  .col-offset-xl-2 {
    margin-left: 16.666666666666664% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-2 {
    flex-basis: 16.666666666666664% !important;
    max-width: 16.666666666666664% !important;
  }
  .col-offset-xxl-2 {
    margin-left: 16.666666666666664% !important;
  }
}
.col-1 {
  flex-basis: 8.333333333333332%;
  max-width: 8.333333333333332%;
}
.col-offset-1 {
  margin-left: 8.333333333333332%;
}
@media screen and (max-width: 600px) {
  .col-s-1 {
    flex-basis: 8.333333333333332% !important;
    max-width: 8.333333333333332% !important;
  }
  .col-offset-s-1 {
    margin-left: 8.333333333333332% !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .col-m-1 {
    flex-basis: 8.333333333333332% !important;
    max-width: 8.333333333333332% !important;
  }
  .col-offset-m-1 {
    margin-left: 8.333333333333332% !important;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .col-l-1 {
    flex-basis: 8.333333333333332% !important;
    max-width: 8.333333333333332% !important;
  }
  .col-offset-l-1 {
    margin-left: 8.333333333333332% !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1800px) {
  .col-xl-1 {
    flex-basis: 8.333333333333332% !important;
    max-width: 8.333333333333332% !important;
  }
  .col-offset-xl-1 {
    margin-left: 8.333333333333332% !important;
  }
}
@media screen and (min-width: 1801px) {
  .col-xxl-1 {
    flex-basis: 8.333333333333332% !important;
    max-width: 8.333333333333332% !important;
  }
  .col-offset-xxl-1 {
    margin-left: 8.333333333333332% !important;
  }
}
.row-12 {
  flex-basis: 100%;
  height: 100%;
}
.row-offset-12 {
  margin-top: 100%;
}
.row-11 {
  flex-basis: 91.66666666666666%;
  height: 91.66666666666666%;
}
.row-offset-11 {
  margin-top: 91.66666666666666%;
}
.row-10 {
  flex-basis: 83.33333333333334%;
  height: 83.33333333333334%;
}
.row-offset-10 {
  margin-top: 83.33333333333334%;
}
.row-9 {
  flex-basis: 75%;
  height: 75%;
}
.row-offset-9 {
  margin-top: 75%;
}
.row-8 {
  flex-basis: 66.66666666666666%;
  height: 66.66666666666666%;
}
.row-offset-8 {
  margin-top: 66.66666666666666%;
}
.row-7 {
  flex-basis: 58.333333333333336%;
  height: 58.333333333333336%;
}
.row-offset-7 {
  margin-top: 58.333333333333336%;
}
.row-6 {
  flex-basis: 50%;
  height: 50%;
}
.row-offset-6 {
  margin-top: 50%;
}
.row-5 {
  flex-basis: 41.66666666666667%;
  height: 41.66666666666667%;
}
.row-offset-5 {
  margin-top: 41.66666666666667%;
}
.row-4 {
  flex-basis: 33.33333333333333%;
  height: 33.33333333333333%;
}
.row-offset-4 {
  margin-top: 33.33333333333333%;
}
.row-3 {
  flex-basis: 25%;
  height: 25%;
}
.row-offset-3 {
  margin-top: 25%;
}
.row-2 {
  flex-basis: 16.666666666666664%;
  height: 16.666666666666664%;
}
.row-offset-2 {
  margin-top: 16.666666666666664%;
}
.row-1 {
  flex-basis: 8.333333333333332%;
  height: 8.333333333333332%;
}
.row-offset-1 {
  margin-top: 8.333333333333332%;
}
